-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: tempshop
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_address`
--

DROP TABLE IF EXISTS `account_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `label` varchar(50) NOT NULL,
  `street` varchar(255) NOT NULL,
  `city` varchar(100) NOT NULL,
  `state` varchar(100) NOT NULL,
  `postal_code` varchar(20) NOT NULL,
  `country` varchar(100) NOT NULL,
  `is_default` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `account_address_user_id_a1553eba_fk_account_client_id` (`user_id`),
  CONSTRAINT `account_address_user_id_a1553eba_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_address`
--

LOCK TABLES `account_address` WRITE;
/*!40000 ALTER TABLE `account_address` DISABLE KEYS */;
INSERT INTO `account_address` VALUES (1,'Paradis hostal','Modipuram','Meerut','up','250110','India',0,'2025-11-01 08:23:31.547736',1),(2,'Belwa','brahmpur','Gorakhpur','Utter Pradesh','273203','India',0,'2025-11-01 09:57:54.657008',1);
/*!40000 ALTER TABLE `account_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_client`
--

DROP TABLE IF EXISTS `account_client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_client` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `profile_picture` varchar(255) DEFAULT NULL,
  `email_verification_token` varchar(100) DEFAULT NULL,
  `is_email_verified` tinyint(1) NOT NULL,
  `email_otp` varchar(6) DEFAULT NULL,
  `otp_created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_client`
--

LOCK TABLES `account_client` WRITE;
/*!40000 ALTER TABLE `account_client` DISABLE KEYS */;
INSERT INTO `account_client` VALUES (1,'pbkdf2_sha256$1000000$lo98uVHY2uiTrC9Ub7oYnZ$kwhYfm3JvttvXvgCdiX5laKe/KfESvnY8CrHZTVmkHI=',NULL,0,'durgesh','Durgesh','Kumar','jarvisjs283@gmail.com',0,1,'2025-11-01 07:43:15.489311','7080594874',NULL,'OUPQf61BD6IBGu4t5nJgy4QqxRKgdVJWocEqBSfewzY',0,NULL,NULL),(2,'pbkdf2_sha256$1000000$ZJFD83ClsNxmmJixWPphBH$+lg5daCpnr7aZ6G9n+eoCKJd4lsoUlNShzMn3llLr3s=','2025-11-01 07:59:09.835647',1,'admin','','','',1,1,'2025-11-01 07:58:54.169102',NULL,NULL,NULL,0,NULL,NULL);
/*!40000 ALTER TABLE `account_client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_client_groups`
--

DROP TABLE IF EXISTS `account_client_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_client_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `client_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_client_groups_client_id_group_id_c11fcb23_uniq` (`client_id`,`group_id`),
  KEY `account_client_groups_group_id_68213f09_fk_auth_group_id` (`group_id`),
  CONSTRAINT `account_client_groups_client_id_228dd8b2_fk_account_client_id` FOREIGN KEY (`client_id`) REFERENCES `account_client` (`id`),
  CONSTRAINT `account_client_groups_group_id_68213f09_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_client_groups`
--

LOCK TABLES `account_client_groups` WRITE;
/*!40000 ALTER TABLE `account_client_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_client_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_client_user_permissions`
--

DROP TABLE IF EXISTS `account_client_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_client_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `client_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_client_user_perm_client_id_permission_id_c2152324_uniq` (`client_id`,`permission_id`),
  KEY `account_client_user__permission_id_8852aa72_fk_auth_perm` (`permission_id`),
  CONSTRAINT `account_client_user__client_id_d4484046_fk_account_c` FOREIGN KEY (`client_id`) REFERENCES `account_client` (`id`),
  CONSTRAINT `account_client_user__permission_id_8852aa72_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_client_user_permissions`
--

LOCK TABLES `account_client_user_permissions` WRITE;
/*!40000 ALTER TABLE `account_client_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_client_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_notification`
--

DROP TABLE IF EXISTS `account_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(200) NOT NULL,
  `message` longtext NOT NULL,
  `type` varchar(20) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `account_notification_user_id_520fbbdd_fk_account_client_id` (`user_id`),
  CONSTRAINT `account_notification_user_id_520fbbdd_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_notification`
--

LOCK TABLES `account_notification` WRITE;
/*!40000 ALTER TABLE `account_notification` DISABLE KEYS */;
INSERT INTO `account_notification` VALUES (1,'Added to Cart','Classic Grey Hooded Sweatshirt has been added to your cart','cart',0,'2025-11-01 10:27:07.396127',1),(2,'Added to Cart','Mid-Century Modern Wooden Dining Table has been added to your cart','cart',0,'2025-11-01 10:29:34.396677',1);
/*!40000 ALTER TABLE `account_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_order`
--

DROP TABLE IF EXISTS `account_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `total` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `address_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `account_order_address_id_03bdd96e_fk_account_address_id` (`address_id`),
  KEY `account_order_user_id_030a18b5_fk_account_client_id` (`user_id`),
  CONSTRAINT `account_order_address_id_03bdd96e_fk_account_address_id` FOREIGN KEY (`address_id`) REFERENCES `account_address` (`id`),
  CONSTRAINT `account_order_user_id_030a18b5_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_order`
--

LOCK TABLES `account_order` WRITE;
/*!40000 ALTER TABLE `account_order` DISABLE KEYS */;
INSERT INTO `account_order` VALUES (1,14774.00,'pending','2025-11-01 08:41:45.524406','2025-11-01 08:41:45.524469',1,1),(2,1826.00,'pending','2025-11-01 09:52:31.042261','2025-11-01 09:52:31.042311',1,1);
/*!40000 ALTER TABLE `account_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_orderitem`
--

DROP TABLE IF EXISTS `account_orderitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_orderitem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `order_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  `shopkeeper_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `account_orderitem_order_id_d02554da_fk_account_order_id` (`order_id`),
  KEY `account_orderitem_product_id_f37a01dc_fk_product_product_id` (`product_id`),
  KEY `account_orderitem_shopkeeper_id_288b1e4c_fk_shopkeepe` (`shopkeeper_id`),
  CONSTRAINT `account_orderitem_order_id_d02554da_fk_account_order_id` FOREIGN KEY (`order_id`) REFERENCES `account_order` (`id`),
  CONSTRAINT `account_orderitem_product_id_f37a01dc_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `account_orderitem_shopkeeper_id_288b1e4c_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`),
  CONSTRAINT `account_orderitem_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_orderitem`
--

LOCK TABLES `account_orderitem` WRITE;
/*!40000 ALTER TABLE `account_orderitem` DISABLE KEYS */;
INSERT INTO `account_orderitem` VALUES (1,2,3652.00,1,2,3),(2,1,7470.00,1,3,2),(3,1,1826.00,2,43,9);
/*!40000 ALTER TABLE `account_orderitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_paymentmethod`
--

DROP TABLE IF EXISTS `account_paymentmethod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_paymentmethod` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `card_type` varchar(10) NOT NULL,
  `last_four` varchar(4) NOT NULL,
  `expiry_month` int unsigned NOT NULL,
  `expiry_year` int unsigned NOT NULL,
  `is_default` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `account_paymentmethod_user_id_e17c200a_fk_account_client_id` (`user_id`),
  CONSTRAINT `account_paymentmethod_user_id_e17c200a_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`),
  CONSTRAINT `account_paymentmethod_chk_1` CHECK ((`expiry_month` >= 0)),
  CONSTRAINT `account_paymentmethod_chk_2` CHECK ((`expiry_year` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_paymentmethod`
--

LOCK TABLES `account_paymentmethod` WRITE;
/*!40000 ALTER TABLE `account_paymentmethod` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_paymentmethod` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_recentlyviewed`
--

DROP TABLE IF EXISTS `account_recentlyviewed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_recentlyviewed` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `viewed_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_recentlyviewed_user_id_product_id_47a76b7c_uniq` (`user_id`,`product_id`),
  KEY `account_recentlyviewed_product_id_03ead91d_fk_product_product_id` (`product_id`),
  CONSTRAINT `account_recentlyviewed_product_id_03ead91d_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `account_recentlyviewed_user_id_74b15fba_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_recentlyviewed`
--

LOCK TABLES `account_recentlyviewed` WRITE;
/*!40000 ALTER TABLE `account_recentlyviewed` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_recentlyviewed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_review`
--

DROP TABLE IF EXISTS `account_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_review` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rating` int unsigned NOT NULL,
  `comment` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_review_user_id_product_id_afb8450f_uniq` (`user_id`,`product_id`),
  KEY `account_review_product_id_99a3f57a_fk_product_product_id` (`product_id`),
  CONSTRAINT `account_review_product_id_99a3f57a_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `account_review_user_id_7a6a51f1_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`),
  CONSTRAINT `account_review_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_review`
--

LOCK TABLES `account_review` WRITE;
/*!40000 ALTER TABLE `account_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_wallet`
--

DROP TABLE IF EXISTS `account_wallet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_wallet` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `balance` decimal(10,2) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `account_wallet_user_id_813ea5a2_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_wallet`
--

LOCK TABLES `account_wallet` WRITE;
/*!40000 ALTER TABLE `account_wallet` DISABLE KEYS */;
INSERT INTO `account_wallet` VALUES (1,0.00,'2025-11-01 10:04:32.998971',1);
/*!40000 ALTER TABLE `account_wallet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_wishlist`
--

DROP TABLE IF EXISTS `account_wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account_wishlist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `added_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_wishlist_user_id_product_id_c035fa07_uniq` (`user_id`,`product_id`),
  KEY `account_wishlist_product_id_c1e92b10_fk_product_product_id` (`product_id`),
  CONSTRAINT `account_wishlist_product_id_c1e92b10_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `account_wishlist_user_id_764406d0_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_wishlist`
--

LOCK TABLES `account_wishlist` WRITE;
/*!40000 ALTER TABLE `account_wishlist` DISABLE KEYS */;
INSERT INTO `account_wishlist` VALUES (2,'2025-11-01 09:34:25.957457',2,1),(3,'2025-11-01 10:07:30.878179',16,1);
/*!40000 ALTER TABLE `account_wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_cart`
--

DROP TABLE IF EXISTS `cart_cart`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_cart` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `cart_cart_user_id_9b4220b9_fk_account_client_id` (`user_id`),
  CONSTRAINT `cart_cart_user_id_9b4220b9_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_cart`
--

LOCK TABLES `cart_cart` WRITE;
/*!40000 ALTER TABLE `cart_cart` DISABLE KEYS */;
INSERT INTO `cart_cart` VALUES (1,'2025-11-01 08:05:21.314170','2025-11-01 08:05:21.314225',1);
/*!40000 ALTER TABLE `cart_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cart_cartitem`
--

DROP TABLE IF EXISTS `cart_cartitem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cart_cartitem` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `quantity` int unsigned NOT NULL,
  `added_at` datetime(6) NOT NULL,
  `cart_id` bigint NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `cart_cartitem_cart_id_product_id_53cce7c3_uniq` (`cart_id`,`product_id`),
  KEY `cart_cartitem_product_id_b24e265a_fk_product_product_id` (`product_id`),
  CONSTRAINT `cart_cartitem_cart_id_370ad265_fk_cart_cart_id` FOREIGN KEY (`cart_id`) REFERENCES `cart_cart` (`id`),
  CONSTRAINT `cart_cartitem_product_id_b24e265a_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `cart_cartitem_chk_1` CHECK ((`quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cart_cartitem`
--

LOCK TABLES `cart_cartitem` WRITE;
/*!40000 ALTER TABLE `cart_cartitem` DISABLE KEYS */;
INSERT INTO `cart_cartitem` VALUES (9,1,'2025-11-01 10:29:34.383303',1,28);
/*!40000 ALTER TABLE `cart_cartitem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_account_client_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES (1,'2025-11-01 08:01:11.076306','1','Classic Black Hooded Sweatshirt',3,'',7,2),(2,'2025-11-01 08:05:21.344295','1','Cart(a123)',1,'[{\"added\": {}}]',19,2);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('uzrk6bpdzpfqlone5kywrlupvcgb43jp','.eJxVjEEOwiAQRe_C2hDKQAGX7j0DGYZBqoYmpV0Z765NutDtf-_9l4i4rTVunZc4ZXEWWpx-t4T04LaDfMd2myXNbV2mJHdFHrTL65z5eTncv4OKvX5rchTADIUoJM7EzpeRAXwyTKipOFYKnM6gh-KBR-tUAYsmOGVs4iLeHwsaOG8:1vF6Vx:YcDzyUfOMhxCVFbtkBqeB68v16h75jdmO4iStBOEEmI','2025-11-15 07:59:09.858867');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_category`
--

DROP TABLE IF EXISTS `product_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_category`
--

LOCK TABLES `product_category` WRITE;
/*!40000 ALTER TABLE `product_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_product`
--

DROP TABLE IF EXISTS `product_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `description` longtext NOT NULL,
  `rating` double NOT NULL,
  `is_available` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `category_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `product_product_category_id_0c725779_fk_product_category_id` (`category_id`),
  CONSTRAINT `product_product_category_id_0c725779_fk_product_category_id` FOREIGN KEY (`category_id`) REFERENCES `product_category` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=148 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_product`
--

LOCK TABLES `product_product` WRITE;
/*!40000 ALTER TABLE `product_product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_productimage`
--

DROP TABLE IF EXISTS `product_productimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_productimage` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(255) NOT NULL,
  `is_primary` tinyint(1) NOT NULL,
  `order` int unsigned NOT NULL,
  `product_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_productimage_product_id_544084bb_fk_product_product_id` (`product_id`),
  CONSTRAINT `product_productimage_product_id_544084bb_fk_product_product_id` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `product_productimage_chk_1` CHECK ((`order` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=311 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_productimage`
--

LOCK TABLES `product_productimage` WRITE;
/*!40000 ALTER TABLE `product_productimage` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_productimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revoked_tokens`
--

DROP TABLE IF EXISTS `revoked_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `revoked_tokens` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `jti` varchar(255) NOT NULL,
  `revoked_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `token_type` varchar(10) NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `jti` (`jti`),
  KEY `revoked_tokens_user_id_39072743_fk_account_client_id` (`user_id`),
  KEY `revoked_tok_jti_8c2714_idx` (`jti`),
  KEY `revoked_tok_expires_cdc4fe_idx` (`expires_at`),
  CONSTRAINT `revoked_tokens_user_id_39072743_fk_account_client_id` FOREIGN KEY (`user_id`) REFERENCES `account_client` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revoked_tokens`
--

LOCK TABLES `revoked_tokens` WRITE;
/*!40000 ALTER TABLE `revoked_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `revoked_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeper`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeper`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeper` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `alternate_phone_number` varchar(15) DEFAULT NULL,
  `address` longtext,
  `profile_picture` varchar(255) DEFAULT NULL,
  `business_name` varchar(200) DEFAULT NULL,
  `business_type` varchar(100) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `longitude` double DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeper`
--

LOCK TABLES `shopkeeper_shopkeeper` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeper_groups`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeper_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeper_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `shopkeeper_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `shopkeeper_shopkeeper_gr_shopkeeper_id_group_id_82e5a96d_uniq` (`shopkeeper_id`,`group_id`),
  KEY `shopkeeper_shopkeeper_groups_group_id_014c61b8_fk_auth_group_id` (`group_id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_489173db_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`),
  CONSTRAINT `shopkeeper_shopkeeper_groups_group_id_014c61b8_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeper_groups`
--

LOCK TABLES `shopkeeper_shopkeeper_groups` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeper_user_permissions`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeper_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeper_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `shopkeeper_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `shopkeeper_shopkeeper_us_shopkeeper_id_permission_ed518d93_uniq` (`shopkeeper_id`,`permission_id`),
  KEY `shopkeeper_shopkeepe_permission_id_de715556_fk_auth_perm` (`permission_id`),
  CONSTRAINT `shopkeeper_shopkeepe_permission_id_de715556_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_8d581e93_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeper_user_permissions`
--

LOCK TABLES `shopkeeper_shopkeeper_user_permissions` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeper_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeperdocument`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeperdocument`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeperdocument` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `document_type` varchar(150) NOT NULL,
  `document_name` varchar(255) NOT NULL,
  `document_file` varchar(255) NOT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `uploaded_at` datetime(6) NOT NULL,
  `shopkeeper_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `shopkeeper_shopkeepe_shopkeeper_id_11643961_fk_shopkeepe` (`shopkeeper_id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_11643961_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeperdocument`
--

LOCK TABLES `shopkeeper_shopkeeperdocument` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperdocument` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperdocument` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeperorder`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeperorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeperorder` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `customer_name` varchar(150) NOT NULL,
  `customer_email` varchar(254) DEFAULT NULL,
  `customer_phone` varchar(15) NOT NULL,
  `customer_address` longtext NOT NULL,
  `order_details` json NOT NULL,
  `total_amount` decimal(10,2) NOT NULL,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `shopkeeper_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `shopkeeper_shopkeepe_shopkeeper_id_6c4be750_fk_shopkeepe` (`shopkeeper_id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_6c4be750_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeperorder`
--

LOCK TABLES `shopkeeper_shopkeeperorder` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperorder` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperorder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeperproduct`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeperproduct`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeperproduct` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `stock_quantity` int unsigned NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `product_id` bigint NOT NULL,
  `shopkeeper_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `shopkeeper_shopkeeperpro_shopkeeper_id_product_id_0834b99e_uniq` (`shopkeeper_id`,`product_id`),
  KEY `shopkeeper_shopkeepe_product_id_1be0e005_fk_product_p` (`product_id`),
  CONSTRAINT `shopkeeper_shopkeepe_product_id_1be0e005_fk_product_p` FOREIGN KEY (`product_id`) REFERENCES `product_product` (`id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_310189af_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`),
  CONSTRAINT `shopkeeper_shopkeeperproduct_chk_1` CHECK ((`stock_quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeperproduct`
--

LOCK TABLES `shopkeeper_shopkeeperproduct` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperproduct` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperproduct` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopkeeper_shopkeeperreview`
--

DROP TABLE IF EXISTS `shopkeeper_shopkeeperreview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopkeeper_shopkeeperreview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `reviewer_name` varchar(100) NOT NULL,
  `reviewer_email` varchar(254) DEFAULT NULL,
  `rating` int unsigned NOT NULL,
  `review_text` longtext,
  `is_verified` tinyint(1) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `shopkeeper_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `shopkeeper_shopkeepe_shopkeeper_id_c158defd_fk_shopkeepe` (`shopkeeper_id`),
  CONSTRAINT `shopkeeper_shopkeepe_shopkeeper_id_c158defd_fk_shopkeepe` FOREIGN KEY (`shopkeeper_id`) REFERENCES `shopkeeper_shopkeeper` (`id`),
  CONSTRAINT `shopkeeper_shopkeeperreview_chk_1` CHECK ((`rating` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopkeeper_shopkeeperreview`
--

LOCK TABLES `shopkeeper_shopkeeperreview` WRITE;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperreview` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopkeeper_shopkeeperreview` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-01 16:28:54
